# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (optional, if you don't want to track large models)
digit_model.h5

# OS files
.DS_Store
Thumbs.db
